<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Get a summary of any text. Peform sentiment analysis."
    />
    <meta
      name="keywords"
      content="summary, summarize, sentiment analysis, nlp"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Analysis App</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="page-container">
      <header id="website-header">
        <h1>Text Analysis Page: Summary & Sentiment</h1>
        <img
          src="https://cdn.pixabay.com/photo/2017/09/25/13/12/dog-2785074_960_720.jpg"
        />
        <ul>
          <li><a href="#summary-section">Summary</a></li>
          <li><a href="#sentiment-section">Sentiment</a></li>
          <li><a href="#footer-contact-info">Contact</a></li>
        </ul>
      </header>

      <!-- START summary input section -->
      <section class="summary-input-section-container">
        <header id="summary-section-header">
          <h2>Summarize Anything on the Web</h2>
        </header>
        <!-- test -->
        <!-- http://i.investopedia.com/inv/pdf/tutorials/dcf.pdf -->

        <section class="summary-section" id="summary-section">
          <form
            class="summary-form"
            name="theform"
            onsubmit="return Client.handleSubmit(event)"
          >
            <label for="summary-input-url"
              >Enter a url to get a summary of that page or document</label
            >
            <input
              id="summary-input-url"
              name="inputURL"
              type="url"
              placeholder="http://example.com"
            />

            <label for="summary-sentence-count"
              >Number of sentences in summary</label
            >
            <input
              id="summary-sentence-count"
              type="number"
              name="inputCount"
              min="1"
              max="50"
              step="1"
              placeholder="Enter a number from 1 to 50"
            />
            <div class="submit-button-container">
              <input
                type="submit"
                id="theSummarySubmitBtn"
                value="Summary"
                onsubmit="return Client.handleSubmit(event)"
                onclick="return Client.handleSubmit(event)"
              />
            </div>
          </form>
        </section>
      </section>
      <!--END summary input section -->

      <section class="summary-results-section">
        <!-- <h2>Results:</h2> -->
        <div id="summary-results-div"></div>
      </section>

      <!-- START sentiment input section -->
      <section class="sentiment-input-section-container">
        <header id="sentiment-section-header">
          <h2>Sentiment Analysis</h2>
        </header>

        <section class="sentiment-section" id="sentiment-section">
          <form
            class="sentiment-form"
            name="sentiment-form"
            onsubmit="return Client.handleSubmit(event)"
          >
            <label for="sentiment-input-txt"
              >Paste text to get sentiment of that page or document</label
            >
            <input
              id="sentiment-input-txt"
              name="sentimentInputTxt"
              type="text"
              placeholder="Words and more words."
            />
            <div class="sentiment-button-container">
              <input
                type="submit"
                id="theSentimentSubmitBtn"
                value="Sentiment"
                onsubmit="return Client.handleSubmitSentiment(event)"
                onclick="return Client.handleSubmitSentiment(event)"
              />
            </div>
          </form>
        </section>
      </section>
      <!-- END sentiment input section -->

      <section class="sentiment-results-section">
        <!-- <h2>Results:</h2> -->
        <div id="sentiment-results-div"></div>
      </section>

      <footer class="footer" id="footer-contact-info">
        <div class="footer-content">
          <div class="social-list">
            <a href="https://github.com/sunny0402">
              <i class="fab fa-github"></i
            ></a>
            <a href="https://sunnywebapp.com/">
              <i class="fa fa-address-card"></i
            ></a>
          </div>
        </div>
      </footer>

      <script>
        //add service worker at end
        //Check that service workers are supported
        if ("serviceWorker" in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener("load", () => {
            navigator.serviceWorker.register("/service-worker.js");
          });
        }
      </script>
    </div>
  </body>
</html>
