<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Summary App</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>
        <main>
            <!-- test -->
            <!-- http://i.investopedia.com/inv/pdf/tutorials/dcf.pdf -->

                <section class="summary-section">
                    <form class="summary-form" onsubmit="return Client.handleSubmit(event)">
                        <label for="summary-input-url">Enter a url to get a summary of that page or document</label>
                        <input id="summary-input-url" type="url" name="input"  placeholder="http://example.com">
                        
                        <label for="summary-sentence-count">Number of sentences in summary</label>
                        <input id="summary-sentence-count" type="number"
                        name="input" min="1" max="50" step="1"  
                        placeholder="Enter a number from 1 to 50">

                        <input type="submit" name="" value="submit"  
                        onsubmit="return Client.handleSubmit(event)"
                        onclick="return Client.handleSubmit(event)" >
                    </form>
                <section>



            <section class="results-section">
                <strong>Results:</strong>
                <div id="results"></div>
            </section>

            
        </main>
        <footer>
            <p>This is a footer</p>
        </footer>
        <!-- <script>
            //add service worker at end 
            //Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script> -->

    </body>
</html>
