$font-stack: sans-serif, Helvetica;
$text-color: rgba(255, 255, 255, 0.87);
$text-size: 20px;
$my-background-color:#483D8B;   
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $my-background-color;
    height: 200vh;

}

.page-container{
    max-width: 700px;
    font: 100% $font-stack;
    color: $text-color;
    size: $text-size;

    border: none;
}

#summary-section-header{
    height: 300px;
    margin: 0 0 20px 0;
    border-radius: 16px;

    background: url("../../assets/images/header-image.jpg");
    background-size: cover;
    background-position: center center;
    text-align: center;
    h2{
        align-items: center;
        font-size: 36px;
    }
}

.summary-section{
    font-size: $text-size;
    input {
        margin: 10px 0 10px 0;
        padding: 10px 10px 10px 10px;
        width: 100%;
        line-height: 16px;
        border-radius: 10px;
    }
    #theSummarySubmitBtn{
        border:none;
        border-radius: 10px;
        background: green;
        color: $text-color;
        font-size: $text-size;
        padding: 14px;   
    }

}

.summary-results-section{
    h2{
        font-size: 30px;
        text-align: center;
        }
    #summary-results-div{
        margin: 10px;
    }
}

