form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

    .switch-block {
        width: 300px;
    }
    
    .switch-toggle input {
        width: 0px;
        visibility: hidden;
    }
    
    h5 {
        margin-bottom: 5px;
    }
